.login-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
}

.login-title {
  color: #f89572;
  width: 100%;
}

.login-subtitle {
  padding-bottom: 3rem;
  width: 100%;
  text-align: justify;
}

.login-text {
  font-weight: 700;
}

.login-button {
  margin: 1.5rem 0;
  text-align: center;
}